{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/ib.css'%}">
<link rel="stylesheet" href="{% static 'css/yk.css'%}">
<link rel="stylesheet" href="{% static 'css/bio.css'%}">
{% endblock %}

{% block body %}

<section id="ib">
    <div class="ib-wrapper">
        <div class="ib-title-wrapper text-center">
            <h1 class="ib-title">{{ city }} İL BAŞKANLIĞI</h1>
            <hr class="w-50 mx-auto">
        </div>

        {% for person in kisiler %}
                {% if person.Yonetici_Durumu == "Baskan" %}
                <div class="ib-l-wrapper">
                    <div class="img-wrapper text-center">
                        <img class="img" src="{{ person.Yonetici_Resmi.url }}" alt="">
                    </div>
        
                    <div class="bio text-center">
                        <h3 class="name">{{ person.Yonetici_Ismi }} - {{ person.Yonetici_Sifati }}</h3>
                        <hr class="mx-auto w-50">
                        <p class="bio-text">
                            {{ person.Yonetici_Biyografisi }}
                        </p>
                    </div>
        
                    <div class="logo-wrapper text-center">
                        <img src="{% static 'img/tuggev-logo3.png'%}" alt="">
                    </div>
                </div>
                {% endif %}    
        {% endfor %}
            <div class="ib-m-wrapper">
                {% for person in kisiler %}
                    {% if person.Yonetici_Durumu != "Baskan" %}
                    
                        <div class="manager text-center">
                            <div class="manager-img-wrapper text-center">
                                <img class="manager-img" src="{{ person.Yonetici_Resmi.url }}" alt="">
                            </div>
            
                            <h1 class="manager-name">{{ person.Yonetici_Ismi }} </h3>
                            <h3 class="manager-title">{{ person.Yonetici_Sifati }}</h3>
                        </div>
                    {% endif %}    
                {% endfor %}
            </div>
            
        
        

        


    </div>
</section>

{% endblock %}