{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/yk.css' %}">
{% endblock %}

{% block body %}

<section id="yk">
    <div class="yk-wrapper">
        <h2 class="section-title">İNSAN KAYNAKLARIMIZ</h2>
        <div class="managers">

            {% for person in ins_kay %}
                {% if person.Yonetici_Durumu == "Baskan" %}
                    <div class="managerh">
                        <div class="manager-img-wrapper">
                            <img class="manager-img" src="{{ person.Resim }}" alt="">
                        </div>
        
                        <h1 class="manager-name">{{ person.Ad }}</h3>
                        <h3 class="manager-title">{{ person.Sifat }}</h3>
                    </div>
                    
                {% else %}
                    <div class="manager">
                        <div class="manager-img-wrapper">
                            <img class="manager-img" src="{{ person.Resim }}" alt="">
                        </div>

                        <h1 class="manager-name">{{ person.Ad }}</h3>
                        <h3 class="manager-title">{{ person.Sifat }}</h3>
                    </div>
                {% endif %}    
            {% endfor %}
    
            
            
            
        </div>
    </div>
</section>
{% endblock %}