


<div class="projectspreview">
    <div class="projectlist">
        <div class="project-slider">
            <div class="swiper-wrapper">
                ******
            </div>
        </div>
    </div>
    <div class="baskan-part">
        <div class="baskan-part-body">
            <p>
                <br>
            </p>
        </div>
        <div class="baskan-part-topleft">
            "Dr. Veysel Tiryaki"
            <div class="font-sm">Altındağ Belediye Başkanı</div>
        </div>
        <div class="baskan-part-buttons">
            <div class="button">
                <a href="#!baskan">ÖZGEÇMİŞ</a>
            </div>
        </div>
        <div class="baskan-part-bg"></div>
        <div class="baskan-part-logo"></div>
        
    </div>
</div>